.carousel-item {
  height: 70vh;
}

.carousel-item img {
  height: 70vh;
}

.location-map {
  width: 100%;
  height: 300px;
}

.information-title {
  font-weight: 700;
  margin-bottom: 0px;
}

.information-icon {
  font-size: 30px;
  color: blue;
}
.social-icon {
  font-size: 48px;
  color: black;
}

#footer {
  background-color: cornflowerblue;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}
#header-wrapper {
}
#middle-wrapper {
  padding-bottom: 100px;
}
#footer-wrapper {
  /* height: 50px; */
  /* background: black; */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
